@import '~normalize.css/normalize.css';
@import './base';
@import './media';
@import './fonts';
@import './utils';

// custom styles

$orange-rdv: #ff9a01;

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-image: url(../images/background-rendezvous.jpg);
  font-size: 1.6rem;
  text-align: center;
}

a {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;

  img {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'helveticaneuethin';
  font-weight: 100;
}

h1 {
  font-size: 3.6rem;
  color: #fff;
}

h2 {
  font-size: 2rem;
  color: #ff9a01;
  font-style: italic;
}

p {
  color: #fff;
  margin: 0;
}

button,
a {
  color: #fff;
  background-color: $orange-rdv;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  border: none;
  padding: 1rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
}
